@import "config/variable";

* {
    font-family: $font-family;
    color: $color-white;
}

a {
    color: $color-gold;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: $max-width;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-black;
    border-radius: $border-radius;
    width: 100%;
    padding: 30px;

    &-content {
        display: flex;
        align-items: flex-start;

        &-profile {
            width: 128px;
            border: 5px solid $color-gold;
            border-radius: 100%;
            animation: bounceIn 2s;
        }

        &-body {
            padding-left: 50px;
            padding-top: 20px;
            max-width: 500px;

            &-description {
                color: $color-soft-gray;
                a {
                    color: $color-red;
                }
            }
        }
    }
}

.links {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-black;
    border-radius: $border-radius;
    width: 100%;
    padding: 30px;

    &-content {
        text-align: center;
        a {
            margin-right: 10px;
        }
    }
}


.experiences {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-black;
    border-radius: $border-radius;
    width: 100%;
    padding: 30px;

    &-title {
        margin-bottom: 20px;
        h2 {
            color: $color-gold;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            &-header {
                display: flex;
                justify-content: space-between;
            }

            &-description {
                padding: 10px;
                font-size: 13px;
                align-self: flex-end;
                max-width: 600px;

                p {
                    padding-top: 5px;
                    line-height: 1.3;
                }
            }
        }


    }

}

.specialties {
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-black;
    border-radius: $border-radius;
    width: 100%;
    padding: 30px;

    &-title {
        margin-bottom: 20px;
        h2 {
            color: $color-gold;
        }
    }

    &-content {
        display: flex;
        justify-content: center;
    }

    &-item {
        opacity: 0.6;
        height: 60px;
        width: 60px;
        font-size: 4rem;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            font-size: 5rem;
            opacity: 1;
        }
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}